Vagrant.configure("2") do |config|
  config.vm.provider :libvirt do |libvirt|
    libvirt.machine_type = "pc-q35-xenial"
    libvirt.graphics_type = "spice"
    libvirt.video_type = "qxl"
    libvirt.video_vram = 16384
  end
  config.ssh.username = "vagrant"
  config.ssh.password = "vagrant"
end
